<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="centerContent">
		<h:form>
			<p:panel>
				<f:facet name="header">
					<h1>#{msg['pesquisarArtista']}</h1>
				</f:facet>
				<p:panel toggleable="true" toggleSpeed="500">
						<f:facet name="header">
							#{msg['filtroPesquisa']}
						</f:facet>
					<p:panelGrid columns="4" columnClasses="labelField, textField, labelField, textField">
						<h:outputLabel for="codigo" value="#{msg['nome']}:"/>
						<p:inputText id="codigo" value="#{pesquisarArtistaMB.filtroPesquisa.nome}" />
					</p:panelGrid>
				
					<p:panel styleClass="noBorder">
						<p:commandButton value="#{msg['pesquisar']}"
							action="#{pesquisarArtistaMB.pesquisar}" update="resultados" />
					</p:panel>
				</p:panel>

				<p:spacer height="25px"/>

				<p:panel id="resultados" styleClass="noBorder">
					<p:dataTable value="#{pesquisarArtistaMB.artistas}" var="artista"
							rendered="#{not empty pesquisarArtistaMB.artistas}"
							selectionMode="single"
							selection="#{pesquisarArtistaMB.artistaSelecionada}"
							rowKey="#{artista.id}">
						
						<f:facet name="header">
							#{msg['resultados']}
						</f:facet>

						<p:column headerText="#{msg['nome']}">
							#{artista.nome}
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{msg['editar']}"
								action="#{pesquisarArtistaMB.editar}" ajax="false" />
							<p:commandButton value="#{msg['excluir']}"
								action="#{pesquisarArtistaMB.excluir}" ajax="false" />
							<p:commandButton value="#{msg['visualizar']}"
								action="#{pesquisarArtistaMB.visualizar}" ajax="false" />
						</f:facet>
					</p:dataTable>
				</p:panel>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
